<div class="d-flex flex-column align-items-center flex-grow-1 gap-3 h-100">
  <h1 class="m-0 text-center"><%= plan_recipe.recipe.name %></h1>

  <div class="d-flex flex-column gap-3">
    <%= cl_image_tag plan_recipe.recipe.photo.key, width: 350, height: 350, crop: :thumb, class: "border rounded-circle" %>

    <div class="generate-button d-flex justify-content-around align-items-center text-center">
      <p class="m-0"><i class="fa-solid fa-clock"></i> <%= plan_recipe.recipe.cook_time %></p>
      <p class="m-0"><i class="fa-solid fa-fire"></i> <%= plan_recipe.recipe.calories %></p>
      <p class="m-0"><i class="fa-solid fa-person"></i> <%= plan_recipe.recipe.servings %></p>
      <% plan_recipe.recipe.restrictions.each do |restriction| %>
        <p class="m-0"><i class="fa-solid fa-heart"></i> <%= restriction.capitalize %></p>
      <% end %>
    </div>
  </div>

  <div class="d-flex justify-content-between gap-5">
    <div class="w-50">
    <h2 class="text-center">Ingredients</h2>
      <% plan_recipe.recipe.ingredients_list.each do |ingredient|%>
        <p class="text-center m-0"><%= ingredient.capitalize %></p>
      <% end %>
    </div>
    <div class="w-50">
      <h2 class="text-center">How to Cook</h2>
      <p class="text-center"><%= plan_recipe.recipe.instructions %></p>
    </div>
  </div>
</div>
