<%= turbo_frame_tag "plan_recipe_#{plan_recipe.id}" do %>
  <div class="d-flex flex-column justify-content-between border rounded-5 m-1 p-1 bg-info shadow" style="width: 12rem; height: 21rem; background-color: floral-white;">
    <div class="p-2 d-flex flex-column align-items-center">
      <%= cl_image_tag plan_recipe.recipe.photo.key, width: 90, height: 90, crop: :fill, class:"rounded-circle mb-2 shadow bg-body rounded border"%>
      <p class="text-center m-0"><small><strong><%= plan_recipe.recipe.name %></strong></small></p>
    </div>
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-center">
        <%= button_to '<i class="refresh-button fa-solid fa-arrows-rotate"></i>'.html_safe,
                    plan_recipe_path(plan_recipe),
                    method: :patch,
                    data: { turbo_frame: "plan_recipe#{plan_recipe.id}"}, class:"refresh-button mb-2", style:"font-size: 24px" %>
      </div>
      <div class="p-2 border-top d-flex justify-content-between" style="height: 3rem;">
        <p><small><%= plan_recipe.recipe.calories %> kcal</small></p>
        <p><small><%= plan_recipe.recipe.cook_time %> min</small></p>
      </div>
    </div>
  </div>
<% end %>
