<%# Progress bar %>
<script src="https://kit.fontawesome.com/107807e788.js" crossorigin="anonymous"></script>
<section class= mt-0 >
  <div class="prog_bar bg-white shadow-sm text-center d-flex justify-content-between w-100 rounded-pill">
    <% wizard_steps.each_with_index do |wizzard_step, index| %>
      <% unless index == 4 %>
        <div class="h-100 w-100 py-3 <%= 'bg-success text-white' unless future_step?(wizzard_step) %> <%= 'rounded-button' if index == 0 %> <%= 'rounded-button-last' if index == wizard_steps.count - 2 %>">
          <%= link_to wizzard_step.to_s.humanize, wizard_path(wizzard_step.to_s) %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%# Survey content %>
  <div class="survey" data-controller="animation">
    <div class="form-container" data-animation-target="form">
      <h3 class=" questions mt-5 mb-5"><%= question %></h3>
      <div class="align-center">
        <% if step == :servings  %>
            <%# The servings is not a multiple choice step %>
            <%= simple_form_for(survey, url: wizard_path, method: :put) do |f| %>
                <%= f.input :servings, collection: 1..10, label_html: { class: "font-max"}, input_html: { class: "box-size" }, selected: 1%>
                <div class= "display_buttons mt-2">
                  <%= link_to 'Previous', previous_wizard_path, class: " button_finish btn btn-warning text-white rounded-pill me-5" %>
                <%= f.submit 'Finalize', class: "button_finish btn btn-warning text-white rounded-pill float-end" %>
                </div>
            <% end %>
        <% elsif step == :plan_form %>
          <div class= "changed-box">
            <%= simple_form_for @plan do |f| %>
              <%= f.input :title, label_html: { class: "font-bigger"}, label: false,input_html: { class: "changed-size" }, placeholder: "Name your plan.." %>
              <div class= buttons_final_step>
                  <%= link_to 'Previous', previous_wizard_path, class: "button-sized btn btn-warning my-3 text-white rounded-pill" %>
                <%= f.button :submit, class:"button-sized btn btn-warning my-3 text-white rounded-pill" %>
              </div>
          </div>
        <% end %>
        <% else %>
            <%# Render the multiple choice step partial %>
            <%= render "multiple_choice_step", survey: @survey,
                                                wizard_path:,
                                                step:,
                                                answer_options: %>
        <% end %>
      </div>
    </div>
    <% if step == :plan_form %>
      <div class="animation_wrapper" data-animation-target="loading">
        <div id="cooking">
          <div id="area">
            <div id="sides">
              <div id="pan"></div>
              <div id="handle"></div>
            </div>
            <div id="pancake">
              <div id="pastry"></div>
            </div>
          </div>
        </div>
        <h1 class="text_loading">Creating your plan...</h1>
      </div>
    <% end %>
  </div>
</section>
