<%= simple_form_for :survey, url: submit_survey_surveys_path, method: :post do |f| %>
  <h3>How many portions?</h3>
  <%= f.input :servings, as: :radio_buttons, collection: ["Small family (1-2 people) - minimal portions, no waste.",
        "Medium family (3-4 people) - balanced portions for everyone.",
        "Large family (5+ people) - hearty portions to satisfy all.",
        "Mixed needs - larger portions for adults, smaller for kids.",
        "Flexible portions - adjust based on who's eating each meal"], label: false %>

  <%= f.hidden_field :goals, value: @form_data[:goals] %>
  <%= f.hidden_field :preferences, value: @form_data[:preferences] %>
  <%= f.hidden_field :restrictions, value: @form_data[:restrictions] %>

  <%= link_to "Previous", step_three_surveys_path, class: "btn btn-secondary" %>
  <%= f.submit "Submit", class: "btn btn-success" %>
<% end %>
