<div>
<%= link_to "back to plan", plan_path(@plan) %>
  <h1>Shopping List</h1>
  <h2>teste</h2>

  <ul>
    <% @shopping_list.each do |shopping_list| %>
      <li><%= shopping_list.quantity %> <%= shopping_list.unit %> <%= shopping_list.ingredient.name %></li>
      <%= link_to "edit", edit_shopping_list_path(shopping_list) %>

    <% end %>
  </ul>
</div>
